# Sample Environment variables
OCP_USER=kubeadmin
#OCP_USER=admin
OCP_PASS='odd-uuid-style-password'
OCP_DOMAIN=cluster-city-guid.environment.opentlc.com

# If we're using htpass based login rather than kubeadmin
#OCP_USER=admin
#OCP_PASS=<demo password>

# Currently we use lab-user 
OCP_USERNAME=lab-user
OCP_PASSWD=<changeme>

# Some older labs use opentlc-mgr
#OCP_USERNAME=opentlc-mgr 
#OCP_PASSWD=<changeme>

OCP_ENDPOINT="https://api.${OCP_DOMAIN}:6443"
